[submodule "tmux/.local/share/tmux/plugins/tpm"]
	path = tmux/.local/share/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dircolors/.local/share/dircolors"]
	path = dircolors/.local/share/dircolors
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "zsh/.config/zsh/zsh-autosuggestions"]
	path = zsh/.local/share/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.local/share/zsh/zsh-syntax-highlighting"]
	path = zsh/.local/share/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
