[submodule "tmux/.local/share/tmux/plugins/tpm"]
	path = tmux/.local/share/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dircolors/.local/share/dircolors"]
	path = dircolors/.local/share/dircolors
	url = https://github.com/trapd00r/LS_COLORS.git
