[submodule "dircolors/.local/share/dircolors/nord"]
	path = dircolors/.local/share/dircolors/nord
	url = https://github.com/arcticicestudio/nord-dircolors.git
[submodule "base16-shell/.local/share/base16-shell"]
	path = base16-shell/.local/share/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "tmux/.local/share/tmux/unmanaged-plugins/tmux-tomorrow"]
	path = tmux/.local/share/tmux/unmanaged-plugins/tmux-tomorrow
	url = https://github.com/edouard-lopez/tmux-tomorrow.git
